{
  "openapi": "3.1.0",
  "info": {
    "title": "Directory API",
    "description": "Generated API documentation",
    "contact": {
      "name": "Meitner",
      "url": "https://meitner.se",
      "email": "support@meitner.se"
    },
    "license": {
      "name": "Proprietary - Licensed to Authorized Customers Only",
      "url": "https://meitner.se"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.meitner.se/directory/v1",
      "description": "Server to use in production",
      "x-speakeasy-server-id": "production"
    },
    {
      "url": "https://api.staging.meitner.se/directory/v1",
      "description": "Server to use when building and testing the API",
      "x-speakeasy-server-id": "staging"
    }
  ],
  "paths": {
    "/school": {
      "get": {
        "tags": [
          "School"
        ],
        "summary": "List Schools",
        "description": "Returns a paginated list of all `Schools` in your organization.",
        "operationId": "SchoolList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Schools to return (default: 50) when listing Schools",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Schools to skip before starting to return results (default: 0) when listing Schools",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for School List operation - returns a paginated list of School",
            "$ref": "#/components/responses/SchoolList"
          },
          "400": {
            "description": "Bad Request error for School List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for School List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for School List operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for School List operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for School List operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for School List operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for School List operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "schools",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "School"
        ],
        "summary": "Create a new School",
        "description": "Create a new School",
        "operationId": "SchoolCreate",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/SchoolCreate"
        },
        "responses": {
          "201": {
            "description": "Response for School Create operation - returns the created School",
            "$ref": "#/components/responses/SchoolCreate"
          },
          "400": {
            "description": "Bad Request error for School Create operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for School Create operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for School Create operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for School Create operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for School Create operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for School Create operation - request data failed validation",
            "$ref": "#/components/responses/SchoolCreate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for School Create operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for School Create operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "schools",
        "x-speakeasy-name-override": "create"
      }
    },
    "/school/_search": {
      "post": {
        "tags": [
          "School"
        ],
        "summary": "Search Schools",
        "description": "Search for `Schools` with filtering capabilities.",
        "operationId": "SchoolSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Schools to return (default: 50) when searching Schools",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Schools to skip before starting to return results (default: 0) when searching Schools",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SchoolSearch"
        },
        "responses": {
          "200": {
            "description": "Response for School Search operation - returns filtered School results",
            "$ref": "#/components/responses/SchoolSearch"
          },
          "400": {
            "description": "Bad Request error for School Search operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for School Search operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for School Search operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for School Search operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for School Search operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for School Search operation - request data failed validation",
            "$ref": "#/components/responses/SchoolSearch422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for School Search operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for School Search operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "schools",
        "x-speakeasy-name-override": "search"
      }
    },
    "/school/{id}": {
      "get": {
        "tags": [
          "School"
        ],
        "summary": "Get a School",
        "description": "Retrieves the `School` with the given ID.",
        "operationId": "SchoolGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the School to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for School Get operation - returns the requested School",
            "$ref": "#/components/responses/SchoolGet"
          },
          "400": {
            "description": "Bad Request error for School Get operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for School Get operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for School Get operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for School Get operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for School Get operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for School Get operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for School Get operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "schools",
        "x-speakeasy-name-override": "get"
      },
      "patch": {
        "tags": [
          "School"
        ],
        "summary": "Update a School",
        "description": "Update a School",
        "operationId": "SchoolUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the School to update",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SchoolUpdate"
        },
        "responses": {
          "200": {
            "description": "Response for School Update operation - returns the updated School",
            "$ref": "#/components/responses/SchoolUpdate"
          },
          "400": {
            "description": "Bad Request error for School Update operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for School Update operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for School Update operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for School Update operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for School Update operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for School Update operation - request data failed validation",
            "$ref": "#/components/responses/SchoolUpdate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for School Update operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for School Update operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "schools",
        "x-speakeasy-name-override": "update"
      }
    },
    "/group": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "List Groups",
        "description": "Returns a paginated list of all `Groups` in your organization.",
        "operationId": "GroupList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Groups to return (default: 50) when listing Groups",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Groups to skip before starting to return results (default: 0) when listing Groups",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Group List operation - returns a paginated list of Group",
            "$ref": "#/components/responses/GroupList"
          },
          "400": {
            "description": "Bad Request error for Group List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Group List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Group List operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Group List operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Group List operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Group List operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Group List operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "groups",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Create a new Group",
        "description": "Create a new Group",
        "operationId": "GroupCreate",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupCreate"
        },
        "responses": {
          "201": {
            "description": "Response for Group Create operation - returns the created Group",
            "$ref": "#/components/responses/GroupCreate"
          },
          "400": {
            "description": "Bad Request error for Group Create operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Group Create operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Group Create operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Group Create operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Group Create operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Group Create operation - request data failed validation",
            "$ref": "#/components/responses/GroupCreate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Group Create operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Group Create operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "groups",
        "x-speakeasy-name-override": "create"
      }
    },
    "/group/_search": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Search Groups",
        "description": "Search for `Groups` with filtering capabilities.",
        "operationId": "GroupSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Groups to return (default: 50) when searching Groups",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Groups to skip before starting to return results (default: 0) when searching Groups",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupSearch"
        },
        "responses": {
          "200": {
            "description": "Response for Group Search operation - returns filtered Group results",
            "$ref": "#/components/responses/GroupSearch"
          },
          "400": {
            "description": "Bad Request error for Group Search operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Group Search operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Group Search operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Group Search operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Group Search operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Group Search operation - request data failed validation",
            "$ref": "#/components/responses/GroupSearch422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Group Search operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Group Search operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "groups",
        "x-speakeasy-name-override": "search"
      }
    },
    "/group/{id}": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Get a Group",
        "description": "Retrieves the `Group` with the given ID.",
        "operationId": "GroupGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Group to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Group Get operation - returns the requested Group",
            "$ref": "#/components/responses/GroupGet"
          },
          "400": {
            "description": "Bad Request error for Group Get operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Group Get operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Group Get operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Group Get operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Group Get operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Group Get operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Group Get operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "groups",
        "x-speakeasy-name-override": "get"
      },
      "delete": {
        "tags": [
          "Group"
        ],
        "summary": "Delete a Group",
        "description": "Delete a Group",
        "operationId": "GroupDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Group to delete",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for Group Delete operation - confirms successful deletion"
          },
          "400": {
            "description": "Bad Request error for Group Delete operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Group Delete operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Group Delete operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Group Delete operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Group Delete operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Group Delete operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Group Delete operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "groups",
        "x-speakeasy-name-override": "delete"
      },
      "patch": {
        "tags": [
          "Group"
        ],
        "summary": "Update a Group",
        "description": "Update a Group",
        "operationId": "GroupUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Group to update",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupUpdate"
        },
        "responses": {
          "200": {
            "description": "Response for Group Update operation - returns the updated Group",
            "$ref": "#/components/responses/GroupUpdate"
          },
          "400": {
            "description": "Bad Request error for Group Update operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Group Update operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Group Update operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Group Update operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Group Update operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Group Update operation - request data failed validation",
            "$ref": "#/components/responses/GroupUpdate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Group Update operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Group Update operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "groups",
        "x-speakeasy-name-override": "update"
      }
    },
    "/employee": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "List Employees",
        "description": "Returns a paginated list of all `Employees` in your organization.",
        "operationId": "EmployeeList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Employees to return (default: 50) when listing Employees",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Employees to skip before starting to return results (default: 0) when listing Employees",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Employee List operation - returns a paginated list of Employee",
            "$ref": "#/components/responses/EmployeeList"
          },
          "400": {
            "description": "Bad Request error for Employee List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Employee List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Employee List operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Employee List operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Employee List operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Employee List operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Employee List operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "employees",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create a new Employee",
        "description": "Create a new Employee",
        "operationId": "EmployeeCreate",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeeCreate"
        },
        "responses": {
          "201": {
            "description": "Response for Employee Create operation - returns the created Employee",
            "$ref": "#/components/responses/EmployeeCreate"
          },
          "400": {
            "description": "Bad Request error for Employee Create operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Employee Create operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Employee Create operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Employee Create operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Employee Create operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Employee Create operation - request data failed validation",
            "$ref": "#/components/responses/EmployeeCreate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Employee Create operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Employee Create operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employees",
        "x-speakeasy-name-override": "create"
      }
    },
    "/employee/_search": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Search Employees",
        "description": "Search for `Employees` with filtering capabilities.",
        "operationId": "EmployeeSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Employees to return (default: 50) when searching Employees",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Employees to skip before starting to return results (default: 0) when searching Employees",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeeSearch"
        },
        "responses": {
          "200": {
            "description": "Response for Employee Search operation - returns filtered Employee results",
            "$ref": "#/components/responses/EmployeeSearch"
          },
          "400": {
            "description": "Bad Request error for Employee Search operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Employee Search operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Employee Search operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Employee Search operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Employee Search operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Employee Search operation - request data failed validation",
            "$ref": "#/components/responses/EmployeeSearch422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Employee Search operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Employee Search operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "employees",
        "x-speakeasy-name-override": "search"
      }
    },
    "/employee/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get a Employee",
        "description": "Retrieves the `Employee` with the given ID.",
        "operationId": "EmployeeGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Employee to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Employee Get operation - returns the requested Employee",
            "$ref": "#/components/responses/EmployeeGet"
          },
          "400": {
            "description": "Bad Request error for Employee Get operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Employee Get operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Employee Get operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Employee Get operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Employee Get operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Employee Get operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Employee Get operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employees",
        "x-speakeasy-name-override": "get"
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete a Employee",
        "description": "Delete a Employee",
        "operationId": "EmployeeDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Employee to delete",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for Employee Delete operation - confirms successful deletion"
          },
          "400": {
            "description": "Bad Request error for Employee Delete operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Employee Delete operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Employee Delete operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Employee Delete operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Employee Delete operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Employee Delete operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Employee Delete operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employees",
        "x-speakeasy-name-override": "delete"
      },
      "patch": {
        "tags": [
          "Employee"
        ],
        "summary": "Update a Employee",
        "description": "Update a Employee",
        "operationId": "EmployeeUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Employee to update",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeeUpdate"
        },
        "responses": {
          "200": {
            "description": "Response for Employee Update operation - returns the updated Employee",
            "$ref": "#/components/responses/EmployeeUpdate"
          },
          "400": {
            "description": "Bad Request error for Employee Update operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Employee Update operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Employee Update operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Employee Update operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Employee Update operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Employee Update operation - request data failed validation",
            "$ref": "#/components/responses/EmployeeUpdate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Employee Update operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Employee Update operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employees",
        "x-speakeasy-name-override": "update"
      }
    },
    "/employee-placement": {
      "get": {
        "tags": [
          "EmployeePlacement"
        ],
        "summary": "List EmployeePlacements",
        "description": "Returns a paginated list of all `EmployeePlacements` in your organization.",
        "operationId": "EmployeePlacementList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of EmployeePlacements to return (default: 50) when listing EmployeePlacements",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of EmployeePlacements to skip before starting to return results (default: 0) when listing EmployeePlacements",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for EmployeePlacement List operation - returns a paginated list of EmployeePlacement",
            "$ref": "#/components/responses/EmployeePlacementList"
          },
          "400": {
            "description": "Bad Request error for EmployeePlacement List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for EmployeePlacement List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for EmployeePlacement List operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for EmployeePlacement List operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for EmployeePlacement List operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for EmployeePlacement List operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for EmployeePlacement List operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "employeePlacements",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "EmployeePlacement"
        ],
        "summary": "Create a new EmployeePlacement",
        "description": "Create a new EmployeePlacement",
        "operationId": "EmployeePlacementCreate",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeePlacementCreate"
        },
        "responses": {
          "201": {
            "description": "Response for EmployeePlacement Create operation - returns the created EmployeePlacement",
            "$ref": "#/components/responses/EmployeePlacementCreate"
          },
          "400": {
            "description": "Bad Request error for EmployeePlacement Create operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for EmployeePlacement Create operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for EmployeePlacement Create operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for EmployeePlacement Create operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for EmployeePlacement Create operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for EmployeePlacement Create operation - request data failed validation",
            "$ref": "#/components/responses/EmployeePlacementCreate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for EmployeePlacement Create operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for EmployeePlacement Create operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employeePlacements",
        "x-speakeasy-name-override": "create"
      }
    },
    "/employee-placement/_search": {
      "post": {
        "tags": [
          "EmployeePlacement"
        ],
        "summary": "Search EmployeePlacements",
        "description": "Search for `EmployeePlacements` with filtering capabilities.",
        "operationId": "EmployeePlacementSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of EmployeePlacements to return (default: 50) when searching EmployeePlacements",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of EmployeePlacements to skip before starting to return results (default: 0) when searching EmployeePlacements",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeePlacementSearch"
        },
        "responses": {
          "200": {
            "description": "Response for EmployeePlacement Search operation - returns filtered EmployeePlacement results",
            "$ref": "#/components/responses/EmployeePlacementSearch"
          },
          "400": {
            "description": "Bad Request error for EmployeePlacement Search operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for EmployeePlacement Search operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for EmployeePlacement Search operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for EmployeePlacement Search operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for EmployeePlacement Search operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for EmployeePlacement Search operation - request data failed validation",
            "$ref": "#/components/responses/EmployeePlacementSearch422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for EmployeePlacement Search operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for EmployeePlacement Search operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "employeePlacements",
        "x-speakeasy-name-override": "search"
      }
    },
    "/employee-placement/{id}": {
      "get": {
        "tags": [
          "EmployeePlacement"
        ],
        "summary": "Get a EmployeePlacement",
        "description": "Retrieves the `EmployeePlacement` with the given ID.",
        "operationId": "EmployeePlacementGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the EmployeePlacement to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for EmployeePlacement Get operation - returns the requested EmployeePlacement",
            "$ref": "#/components/responses/EmployeePlacementGet"
          },
          "400": {
            "description": "Bad Request error for EmployeePlacement Get operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for EmployeePlacement Get operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for EmployeePlacement Get operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for EmployeePlacement Get operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for EmployeePlacement Get operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for EmployeePlacement Get operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for EmployeePlacement Get operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employeePlacements",
        "x-speakeasy-name-override": "get"
      },
      "delete": {
        "tags": [
          "EmployeePlacement"
        ],
        "summary": "Delete a EmployeePlacement",
        "description": "Delete a EmployeePlacement",
        "operationId": "EmployeePlacementDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the EmployeePlacement to delete",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for EmployeePlacement Delete operation - confirms successful deletion"
          },
          "400": {
            "description": "Bad Request error for EmployeePlacement Delete operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for EmployeePlacement Delete operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for EmployeePlacement Delete operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for EmployeePlacement Delete operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for EmployeePlacement Delete operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for EmployeePlacement Delete operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for EmployeePlacement Delete operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employeePlacements",
        "x-speakeasy-name-override": "delete"
      },
      "patch": {
        "tags": [
          "EmployeePlacement"
        ],
        "summary": "Update a EmployeePlacement",
        "description": "Update a EmployeePlacement",
        "operationId": "EmployeePlacementUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the EmployeePlacement to update",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeePlacementUpdate"
        },
        "responses": {
          "200": {
            "description": "Response for EmployeePlacement Update operation - returns the updated EmployeePlacement",
            "$ref": "#/components/responses/EmployeePlacementUpdate"
          },
          "400": {
            "description": "Bad Request error for EmployeePlacement Update operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for EmployeePlacement Update operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for EmployeePlacement Update operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for EmployeePlacement Update operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for EmployeePlacement Update operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for EmployeePlacement Update operation - request data failed validation",
            "$ref": "#/components/responses/EmployeePlacementUpdate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for EmployeePlacement Update operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for EmployeePlacement Update operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "employeePlacements",
        "x-speakeasy-name-override": "update"
      }
    },
    "/guardian": {
      "get": {
        "tags": [
          "Guardian"
        ],
        "summary": "List Guardians",
        "description": "Returns a paginated list of all `Guardians` in your organization.",
        "operationId": "GuardianList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Guardians to return (default: 50) when listing Guardians",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Guardians to skip before starting to return results (default: 0) when listing Guardians",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Guardian List operation - returns a paginated list of Guardian",
            "$ref": "#/components/responses/GuardianList"
          },
          "400": {
            "description": "Bad Request error for Guardian List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Guardian List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Guardian List operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Guardian List operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Guardian List operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Guardian List operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Guardian List operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "guardians",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "Guardian"
        ],
        "summary": "Create a new Guardian",
        "description": "Create a new Guardian",
        "operationId": "GuardianCreate",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/GuardianCreate"
        },
        "responses": {
          "201": {
            "description": "Response for Guardian Create operation - returns the created Guardian",
            "$ref": "#/components/responses/GuardianCreate"
          },
          "400": {
            "description": "Bad Request error for Guardian Create operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Guardian Create operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Guardian Create operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Guardian Create operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Guardian Create operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Guardian Create operation - request data failed validation",
            "$ref": "#/components/responses/GuardianCreate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Guardian Create operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Guardian Create operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "guardians",
        "x-speakeasy-name-override": "create"
      }
    },
    "/guardian/_search": {
      "post": {
        "tags": [
          "Guardian"
        ],
        "summary": "Search Guardians",
        "description": "Search for `Guardians` with filtering capabilities.",
        "operationId": "GuardianSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Guardians to return (default: 50) when searching Guardians",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Guardians to skip before starting to return results (default: 0) when searching Guardians",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GuardianSearch"
        },
        "responses": {
          "200": {
            "description": "Response for Guardian Search operation - returns filtered Guardian results",
            "$ref": "#/components/responses/GuardianSearch"
          },
          "400": {
            "description": "Bad Request error for Guardian Search operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Guardian Search operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Guardian Search operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Guardian Search operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Guardian Search operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Guardian Search operation - request data failed validation",
            "$ref": "#/components/responses/GuardianSearch422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Guardian Search operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Guardian Search operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "guardians",
        "x-speakeasy-name-override": "search"
      }
    },
    "/guardian/{id}": {
      "get": {
        "tags": [
          "Guardian"
        ],
        "summary": "Get a Guardian",
        "description": "Retrieves the `Guardian` with the given ID.",
        "operationId": "GuardianGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Guardian to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Guardian Get operation - returns the requested Guardian",
            "$ref": "#/components/responses/GuardianGet"
          },
          "400": {
            "description": "Bad Request error for Guardian Get operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Guardian Get operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Guardian Get operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Guardian Get operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Guardian Get operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Guardian Get operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Guardian Get operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "guardians",
        "x-speakeasy-name-override": "get"
      },
      "delete": {
        "tags": [
          "Guardian"
        ],
        "summary": "Delete a Guardian",
        "description": "Delete a Guardian",
        "operationId": "GuardianDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Guardian to delete",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for Guardian Delete operation - confirms successful deletion"
          },
          "400": {
            "description": "Bad Request error for Guardian Delete operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Guardian Delete operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Guardian Delete operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Guardian Delete operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Guardian Delete operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Guardian Delete operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Guardian Delete operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "guardians",
        "x-speakeasy-name-override": "delete"
      },
      "patch": {
        "tags": [
          "Guardian"
        ],
        "summary": "Update a Guardian",
        "description": "Update a Guardian",
        "operationId": "GuardianUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Guardian to update",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/GuardianUpdate"
        },
        "responses": {
          "200": {
            "description": "Response for Guardian Update operation - returns the updated Guardian",
            "$ref": "#/components/responses/GuardianUpdate"
          },
          "400": {
            "description": "Bad Request error for Guardian Update operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Guardian Update operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Guardian Update operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Guardian Update operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Guardian Update operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Guardian Update operation - request data failed validation",
            "$ref": "#/components/responses/GuardianUpdate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Guardian Update operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Guardian Update operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "guardians",
        "x-speakeasy-name-override": "update"
      }
    },
    "/student": {
      "get": {
        "tags": [
          "Student"
        ],
        "summary": "List Students",
        "description": "Returns a paginated list of all `Students` in your organization.",
        "operationId": "StudentList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Students to return (default: 50) when listing Students",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Students to skip before starting to return results (default: 0) when listing Students",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Student List operation - returns a paginated list of Student",
            "$ref": "#/components/responses/StudentList"
          },
          "400": {
            "description": "Bad Request error for Student List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Student List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Student List operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Student List operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Student List operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Student List operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Student List operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "students",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "Student"
        ],
        "summary": "Create a new Student",
        "description": "Create a new Student",
        "operationId": "StudentCreate",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/StudentCreate"
        },
        "responses": {
          "201": {
            "description": "Response for Student Create operation - returns the created Student",
            "$ref": "#/components/responses/StudentCreate"
          },
          "400": {
            "description": "Bad Request error for Student Create operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Student Create operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Student Create operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Student Create operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Student Create operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Student Create operation - request data failed validation",
            "$ref": "#/components/responses/StudentCreate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Student Create operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Student Create operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "students",
        "x-speakeasy-name-override": "create"
      }
    },
    "/student/_search": {
      "post": {
        "tags": [
          "Student"
        ],
        "summary": "Search Students",
        "description": "Search for `Students` with filtering capabilities.",
        "operationId": "StudentSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Students to return (default: 50) when searching Students",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Students to skip before starting to return results (default: 0) when searching Students",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/StudentSearch"
        },
        "responses": {
          "200": {
            "description": "Response for Student Search operation - returns filtered Student results",
            "$ref": "#/components/responses/StudentSearch"
          },
          "400": {
            "description": "Bad Request error for Student Search operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Student Search operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Student Search operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Student Search operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Student Search operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Student Search operation - request data failed validation",
            "$ref": "#/components/responses/StudentSearch422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Student Search operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Student Search operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "offset",
              "in": "parameters",
              "type": "offset"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.data.resultArray"
          }
        },
        "x-speakeasy-group": "students",
        "x-speakeasy-name-override": "search"
      }
    },
    "/student/{id}": {
      "get": {
        "tags": [
          "Student"
        ],
        "summary": "Get a Student",
        "description": "Retrieves the `Student` with the given ID.",
        "operationId": "StudentGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Student to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for Student Get operation - returns the requested Student",
            "$ref": "#/components/responses/StudentGet"
          },
          "400": {
            "description": "Bad Request error for Student Get operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Student Get operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Student Get operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Student Get operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Student Get operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Student Get operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Student Get operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "students",
        "x-speakeasy-name-override": "get"
      },
      "delete": {
        "tags": [
          "Student"
        ],
        "summary": "Delete a Student",
        "description": "Delete a Student",
        "operationId": "StudentDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Student to delete",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for Student Delete operation - confirms successful deletion"
          },
          "400": {
            "description": "Bad Request error for Student Delete operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Student Delete operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Student Delete operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Student Delete operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Student Delete operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Student Delete operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Student Delete operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "students",
        "x-speakeasy-name-override": "delete"
      },
      "patch": {
        "tags": [
          "Student"
        ],
        "summary": "Update a Student",
        "description": "Update a Student",
        "operationId": "StudentUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the Student to update",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "123e4567-e89b-12d3-a456-426614174000"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/StudentUpdate"
        },
        "responses": {
          "200": {
            "description": "Response for Student Update operation - returns the updated Student",
            "$ref": "#/components/responses/StudentUpdate"
          },
          "400": {
            "description": "Bad Request error for Student Update operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for Student Update operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for Student Update operation - insufficient permissions",
            "$ref": "#/components/responses/Error403ResponseBody"
          },
          "404": {
            "description": "Not Found error for Student Update operation - resource does not exist",
            "$ref": "#/components/responses/Error404ResponseBody"
          },
          "409": {
            "description": "Conflict error for Student Update operation - request conflicts with current state",
            "$ref": "#/components/responses/Error409ResponseBody"
          },
          "422": {
            "description": "Validation error for Student Update operation - request data failed validation",
            "$ref": "#/components/responses/StudentUpdate422ResponseBody"
          },
          "429": {
            "description": "Rate Limit error for Student Update operation - too many requests",
            "$ref": "#/components/responses/Error429ResponseBody"
          },
          "500": {
            "description": "Internal Server error for Student Update operation - unexpected server error",
            "$ref": "#/components/responses/Error500ResponseBody"
          }
        },
        "x-speakeasy-group": "students",
        "x-speakeasy-name-override": "update"
      }
    },
    "/student-placement": {
      "get": {
        "tags": [
          "StudentPlacement"
        ],
        "summary": "List StudentPlacements",
        "description": "Returns a paginated list of all `StudentPlacements` in your organization.",
        "operationId": "StudentPlacementList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of StudentPlacements to return (default: 50) when listing StudentPlacements",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ],
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of StudentPlacements to skip before starting to return results (default: 0) when listing StudentPlacements",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                0
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for StudentPlacement List operation - returns a paginated list of StudentPlacement",
            "$ref": "#/components/responses/StudentPlacementList"
          },
          "400": {
            "description": "Bad Request error for StudentPlacement List operation - request contains invalid parameters",
            "$ref": "#/components/responses/Error400ResponseBody"
          },
          "401": {
            "description": "Unauthorized error for StudentPlacement List operation - authentication required",
            "$ref": "#/components/responses/Error401ResponseBody"
          },
          "403": {
            "description": "Forbidden error for StudentPlacement List operation - insufficient permissions",
[...]
